:root{
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.6);

}
html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--very-dark-blue);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: var(--dark-desaturated-blue);
    width: 280px;
    border-radius: 1rem;
}

.container__content{
    padding: 1.8rem;
    border-radius: 1rem 1rem 0 0;
}

.container__banner {
    width: 100%;
    height: 180px;
    background-color: var(--soft-violet);
    border-radius: 1rem 1rem 0 0;

}

.container__banner img{
    min-width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}

.container__content__title{
    color: var(--white);
    text-align: center;
    font-family: 'Inter';
    font-size: 0.8rem;
}

.container__content__title span{
    color: var(--soft-violet);
}

.container__content__description{
    color: var(--slightly-transparent-white);
    font-weight: 500;
    text-align: center;
    font-size: 0.7rem;
    line-height: 1.2rem;
    font-family: 'Lexend Deca';
    margin: 0.5rem 0.5rem;
}

.container__content__summary{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container__content__summary__topic{
    text-align: center;
    margin-top: 1rem;
}

.container__content__summary__topic__quantity{
    color: var(--white);
    font-family: 'Inter';
    font-size: 1.2rem;
    font-weight: 900;
}

.container__content__summary__topic__type{
    color: var(--slightly-transparent-white);
    font-family: 'Lexend Deca';
    font-size: 0.6rem;
    font-weight: 400;
    text-transform: uppercase;
}